@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Bokor&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Bokor&family=Elsie:wght@400;900&family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right,#3f492b , #f5f7ee);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Elsie", serif;
  font-size: 20px;
  position: relative;
  justify-content: space-between; /* This will push content to top and footer to bottom */
}
.heading-container{
  display: flex;
  flex-direction: column; /* Stack title and clock vertically */
  align-items: center;
  /*gap: 30px; */

}
.heading {
  /*text-transform: uppercase; */
  font-family: "Elsie", serif;
  font-size: 50px;
  color: #1b2112;
  padding: 10px;
  z-index: 1;
  text-align: center;
  margin: 15px 0; 
}

.main-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  padding: 0 1rem;
  position: relative;
  margin-bottom: 40px;
  flex: 1; /* This allows the main content to take up available space */
}

.main-container::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #1b2112;
  transform: translateX(-50%);
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  
  .main-container::after {
    display: none;
  }
  
  .left-column,
  .right-column {
    width: 100%;
    padding: 0;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: 20px;
}

.foryou{
  font-size: 11px;
  margin: 2px 0;
}

.by{
  font-size: 11px;
  margin: 2px 0;
}

.cute{
  font-size: 11px;
  margin: 2px 0;
}